.App {
  background-image: url(https://media.cntraveler.com/photos/60342677a6d0560b658128fe/master/pass/BackcountrySki-2021-GettyImages-930201086-2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'courier';
}
