.footer {
    text-align: center;
    position: sticky;
    bottom:0%;
    background: radial-gradient(circle, rgba(163,172,185,1) 0%, rgba(2,15,38,1) 100%);
    padding: 10px;
    color: white;
    margin-top: auto;
  }