.hut-card {
    background-color: whitesmoke;
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: auto;
    display: inline-grid;
    margin: 1rem 2rem;
}

.hut-image {
    justify-self: center;
    width:  200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.main-info:hover + .extra-info {
    display: block;
}

.extra-info {
    background-color: black;
    width: 200px;
    display: none;
    color: white;
    text-align: center;
    justify-self: center;
    border-radius: 10px;
}